.carouselDtl-cnt {
  display: flex;
  gap: 40px;
  padding: 80px;
}

.img-btnsCnt {
  display: flex;
  gap: 12px;
  flex-direction: column;
  cursor: pointer;
}

.img-btns {
  width: 100px;
  height: 80px;
}

.rating-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 45px;
  height: 18px;
}

.rating {
  color: goldenrod;
  font-weight: 600;
}

.star {
  color: goldenrod;
}

.price {
  font-size: 46px;
}

.countBtn-cnt {
  display: flex;
  align-items: center;
  padding-top: 40px;
  gap: 9px;
}

.countBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
