.logInBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.cartBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}
