.login-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.form-cnt {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.inputField {
  width: 380px;
  height: 41px;
  border-radius: 7px;
}

.logInBtn-cnt {
  display: flex;
  justify-content: flex-end;
}

.logIn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: transparent;
  border-radius: 7px;
  width: 140px;
  height: 49px;
  cursor: pointer;
}

.route-btn-cnt {
  display: flex;
  padding-top: 80px;
}
