.searchBar-form {
  width: 650px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
}

.searchBar-inputField {
  width: 600px;
  height: 41px;
  font-size: 19px;
  padding-left: 12px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: transparent;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 21px;
  width: 50px;
  height: 41px;
  background-color: transparent;
}
