.carouselComp-cnt {
  padding: 42px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 1380px;
}

.carouselComp-cnt::-webkit-scrollbar {
  display: none;
}

.carouselImg {
  height: 290px;
  width: 600px;
  padding: 11px;
  opacity: 1;
  animation: fading 0.5s linear;
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carouselComp-cardHolder {
  cursor: pointer;
}

.carouselCard-cnt {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}
