.nav-cnt {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  align-items: center;
}

.nav-logo-cnt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo-txt {
  font-size: 21px;
}
